body {
    background-color: #f1ecc2;
}
header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: #353b6d;
}

.building-first {
    position: absolute;
    left: 97px;
    top: 350px;
}

.building-third {
    position: absolute;
    left: 640px;
    bottom: 120px;
}

.building-fourth {
    position: absolute;
    left: 636px;
    bottom: -65px;
}

.building-fifth {
    position: absolute;
    left: 720px;
    bottom: -65px;
}

.building-sixth {
    position: absolute;
    right: 455px;
    top: 350px;
}

.building-seventh {
    position: absolute;
    right: 136px;
    bottom: -80px;
}

.building-first__floor,
.building-seventh__floor {
    margin-bottom: 20px;
}

.building-third__floor,
.building-fourth__floor,
.building-fifth__floor,
.building-sixth__floor {
    margin-bottom: 5px;
}


.building-first__floor span,
.building-sixth__floor span {
    display: inline-block;
    background-color: #f4d146;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.building-third__floor span {
    display: inline-block;
    background-color: #f4d146;
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

.building-fourth__floor span,
.building-fifth__floor span{
    display: inline-block;
    background-color: #f4d146;
    width: 22px;
    height: 7px;
    margin: 0 5px;
}

.building-seventh__floor span  {
    display: inline-block;
    background-color: #f4d146;
    width: 12px;
    height: 25px;
    margin: 0 8px;
}

.building-first__floor .window__red,
.building-third__floor .window__red,
.building-fourth__floor .window__red,
.building-sixth__floor .window__red,
.building-seventh__floor .window__red {
    background-color: rgb(226, 32, 106);
}

@keyframes blinkWindow {
    50% {
        opacity: 0;
    }
}

.animatedWindow {
    animation: blinkWindow 1s step-end;
}

.cog-first {
    position: absolute;
    right: 120px;
    top: 370px;
}

.cog-second {
    position: absolute;
    right: 230px;
    top: 340px;
}

@keyframes cogRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cog-first .cog-big {
    animation: cogRotate 8s linear infinite;
}

.cog-second .cog-small {
    animation: cogRotate 4s linear infinite;
}

.tablets {
    width: 180px;
    position: absolute;
    left: 342px;
    bottom: -80px;
}

@keyframes reverseTablet {
    50% {
        transform: rotate(180deg);
    }
}

@keyframes reverseTablet2 {
    50% {
        transform: rotate(360deg);
    }
}

.tablets .tablet-reverse {
    transform: rotate(180deg);
    animation: reverseTablet2 2s step-end infinite;
}

.tablets img {
    display: inline-block;
    margin: 10px 5px;
    animation: reverseTablet 2s step-end infinite;
}

@keyframes floatBaby {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}

 .baby-a {
     position: absolute;
     top: 425px;
     left: 620px;
     animation: floatBaby 5s ease-in-out infinite;
 }

 .baby-sm {
     position: absolute;
     top: 450px;
     right: 505px;
 }

 .baby-sm img {
     display: block;
     margin-bottom: 58px;
     animation: floatBaby 3s ease-in-out infinite;
 }

